.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    background-color: #f4f0ea;

    // .checkout__container

    &__container {
    }

    // .checkout__body

    &__body {
        h2 {
            margin-bottom: 35px;
            margin-top: 50px;
            width: 100%;
            text-align: center;
        }
    }

    // .checkout__heading

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("padding-bottom", 50, 25, 1);
        border-bottom: 1px solid #4d3d30;

        @media (max-width: 768px) {
            padding: 0 15px 20px 15px;
        }
    }

    // .checkout__title

    &__title {
        text-transform: uppercase;
        color: #4d3d30;
        @include adaptive-value("font-size", 22, 14, 1);
    }

    // .checkout__close

    &__close {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #4d3d30;
        text-transform: uppercase;

        * {
            pointer-events: none;
        }

        span {
            @include adaptive-value("font-size", 16, 12, 1);
        }
        img {
            margin-right: 10px;
            @include adaptive-value("width", 16, 12, 1);
        }
    }
}

.form {
    margin-inline: auto;
    max-width: 700px;
    width: 100%;

    @media (max-width: 768px) {
        max-width: 100%;
        margin-inline: unset;
    }

    svg {
        fill: none;
        stroke: #4d3d30;
        width: 10px;
        height: 10px;
    }

    // .form-contacts

    &-contacts {
    }

    // .form-select

    &-select {
    }

    // .form-flex

    &-flex {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & > :not(:last-child) {
            margin-right: 25px;
        }

        @media (max-width: 768px) {
            display: block;
            margin-right: 0;
        }
    }

    // .form__input

    &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px solid #4d3d3054;
        color: #4d3d30;
        position: relative;
        width: 100%;

        @include adaptive-value("margin-bottom", 25, 15, 1);

        input {
        }

        label {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 14px;
            pointer-events: none;
        }

        &.address {
            svg {
                width: 17px;
                height: 17px;
            }
        }

        &.select {
            select {
                background-color: unset;
                width: 100%;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }

    // .form__button

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0 70px 0 !important;

        a {
            background-color: #4d3d30;
            color: #f4f0ea;
            svg {
                stroke: #4d3d30;
            }
        }
    }

    // .form__support

    &__support {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;
        border-top: 1px solid rgba(27, 24, 22, 0.5);

        @media (max-width: 425px) {
            flex-direction: column;

            & > :not(:last-child) {
                margin-bottom: 15px;
            }
        }

        a {
            color: rgba(27, 24, 22, 0.5);
            font-size: 16px;
            font-weight: 400;
            text-decoration-line: underline;
        }
    }
}

.form-information {
    // .form-information__save

    &__save {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        position: relative;
        cursor: pointer;

        div {
            margin-right: 15px;

            input {
            }

            svg {
                transition: all 0.3s ease 0s;

                position: absolute;
                left: 1.5px;
                top: 3px;
                opacity: 0;
                z-index: -1;
            }
        }

        label {
            cursor: pointer;
            color: #4d3d30;
            font-size: 14px;
        }

        &._checked {
            div {
                input:checked {
                    background-color: red;
                }
                svg {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
}
.information {
    // .information__save

    &__save {
        // .information__save-checkbox

        &-checkbox {
        }
    }

    // .information__checked

    &__checked {
        // .information__checked-svg

        &-svg {
        }
    }
}
