.footer {
    ._underline-animation {
        &:after {
            background-color: #f4f0ea;
        }
    }

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        h3 {
            @include adaptive-value("margin-bottom", 30, 20, 1);
        }

        li {
            width: fit-content;

            &:not(:last-child) a {
                @include adaptive-value("margin-bottom", 15, 10, 1);
            }
        }

        a {
            color: rgba(244, 240, 234, 0.5);
            transition: all 0.3s ease 0s;
            white-space: nowrap;

            @media (any-hover: hover) {
                &:hover {
                    color: #f4f0ea;
                }
            }
        }

        p {
            transition: all 0.3s ease 0s;
            color: rgba(244, 240, 234, 0.5);
            @media (any-hover: hover) {
                &:hover {
                    color: #f4f0ea;
                }
            }
        }
    }

    // .footer__logo

    &__logo {
        @include adaptive-value("margin-bottom", 55, 30, 1);
        display: block;
        width: 100%;

        img,
        svg {
            stroke: #f4f0ea;
            stroke-width: 2px;
        }
    }

    // .footer__top

    &__top {
        @include adaptive-value("padding-top", 250, 80, 1);
        @include adaptive-value("padding-bottom", 250, 80, 1);

        margin-inline: auto;
        text-align: center;
        color: #f4f0ea;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            @include adaptive-value("font-size", 64, 25, 1);
            font-weight: 500;
            line-height: 100%;
        }

        p {
            margin-top: 30px;
            @include adaptive-value("font-size", 18, 16, 1);
            @include adaptive-value("margin-bottom", 30, 10, 1);
        }
    }

    // .footer__newsletter

    &__newsletter {
        // .footer__newsletter-input

        width: 100%;
        max-width: 800px;
        @include adaptive-value("font-size", 18, 14, 1);
        @include adaptive-value("padding-left", 30, 15, 1);

        padding: 4px 4px 4px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 100px;
        border: 1px solid rgba(244, 240, 234, 0.5);
        transition: all 0.3s ease 0s;
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                border: 1px solid #f4f0ea;

                .footer__newslette-btn {
                    opacity: 1;
                }

                .v1 {
                    transform: translate(300%, 0);
                }

                .v2 {
                    transform: translate(0, 0);
                }
            }
        }

        input {
            width: 100%;
            color: #f4f0ea;
        }

        &::placeholder {
            color: rgba(244, 240, 234, 0.5);
        }

        button {
            opacity: 0.5;
            svg {
                width: 40px;
                height: 40px;

                path {
                    transition: all 0.5s ease 0s;
                }
                .v2 {
                    transform: translate(-300%, 0);
                }
            }
        }
    }

    // .footer__main

    &__main {
        display: flex;
        justify-content: space-between;
        color: #f4f0ea;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            left: -50px;
            top: 0;
            border-top: 1px solid rgba(244, 240, 234, 0.5);
            width: calc(100% + 100px);
        }

        &:before {
            position: absolute;
            content: "";
            left: -50px;
            bottom: 0;
            border-bottom: 1px solid rgba(244, 240, 234, 0.5);
            width: calc(100% + 100px);
        }

        @media (max-width: 768px) {
            display: block;
        }

        // .footer__main-left

        &-left {
            @include adaptive-value("padding-top", 100, 25, 1);
            @include adaptive-value("padding-bottom", 100, 25, 1);

            width: 50%;
            border-right: 1px solid rgba(244, 240, 234, 0.5);

            @media (min-width: 769px) {
                @include adaptive-value("padding-right", 65, 30, 1);
            }

            @media (max-width: 768px) {
                border-right: unset;
                width: 100%;
            }

            nav {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                @include adaptive-value("row-gap", 60, 30, 1);
                column-gap: 20px;

                @include adaptive-value("margin-bottom", 60, 30, 1);
            }
        }

        // .footer__main-right

        &-right {
            width: 50%;
            @include adaptive-value("padding-bottom", 100, 25, 1);

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 769px) {
                @include adaptive-value("padding-top", 100, 25, 1);
                @include adaptive-value("padding-left", 65, 30, 1);
            }

            @media (max-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                @include adaptive-value("row-gap", 60, 30, 1);
                column-gap: 20px;

                & > :nth-child(2) {
                    order: 1;
                }

                & > :nth-child(3) {
                    order: 3;
                }
            }

            .socials {
                order: 2;
                margin-left: auto;
                justify-content: flex-end;
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptive-value("row-gap", 60, 30, 1);
        column-gap: 20px;

        & > :nth-child(3) {
            grid-column-start: 2;
        }

        p {
            max-width: 232px;
            width: 100%;
        }

        a {
            &:not(:last-child) {
                @include adaptive-value("margin-bottom", 15, 10, 1);
            }
        }
    }

    // .footer__copyright

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("padding-top", 25, 20, 1);
        @include adaptive-value("padding-bottom", 25, 20, 1);

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;

            & > :first-child {
                margin-bottom: 15px;
            }
        }

        color: #f4f0ea;
        font-size: 14px;
        font-weight: 300;

        span {
            display: flex;
            align-items: center;

            a {
                margin-bottom: 0;
                margin-left: 5px;
            }
        }
    }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    @include adaptive-value("gap", 25, 15, 1);

    li {
        flex: 0 0 auto;

        a {
            transition: all 0.3s ease 0s;
            margin: 0 !important;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }

            img,
            svg {
                @include adaptive-value("width", 40, 30, 1);
                @include adaptive-value("height", 40, 30, 1);
            }
        }
    }
}
