.category {
    @media (max-width: 768px) {
        height: fit-content;
    }
    // .category__container

    &__container {
    }

    // .category__body

    &__body {
        overflow: hidden;
    }

    // .category__flex

    &__flex {
        display: flex;
        align-items: center;

        @media (any-hover: none) {
            width: 100vw;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            overflow-x: auto;

            @media (max-width: $containerWithPadding + px) {
                padding-inline: $padding + px;
            }

            @media (max-width: 1200px) {
                padding-inline: 0 30px;
            }

            @media (max-width: 1024px) {
                padding-inline: 20px;
            }

            @media (max-width: 768px) {
                padding-inline: 15px;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        & > :not(:last-child) {
            @include adaptive-value("margin-right", 150, 30, 1);
        }
    }

    // .category__article

    &__article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 auto;
        min-width: 50%;

        @media (max-width: 1024px) {
            min-width: 0;
            @include adaptive-value("width", 900, 300, 1);

            display: block;
        }

        // .category__article-img

        &-img {
            position: relative;
            width: 50%;
            display: block;
            padding-bottom: 60%;

            @media (max-width: 1024px) {
                width: 100%;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        // .category__article-info

        &-info {
            width: 50%;
            padding-left: 30px;

            @media (max-width: 1024px) {
                width: 100%;
                padding-left: 0;
                margin-top: 10px;
            }

            h2 {
                margin-bottom: 1em;

                @media (max-width:1024px){
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}
