.category {
    @media (max-width: 768px) {
        height: fit-content;
    }
    // .category__container

    &__container {
    }

    // .category__body

    &__body {
        overflow: hidden;
    }

    // .category__flex

    &__flex {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            & > :not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }

    // .category__article

    &__article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 auto;

        @media (min-width: 769px) {
            @include adaptive-value("padding-left", 150, 20, 1);
            @include adaptive-value("padding-right", 150, 20, 1);
        }

        @media (max-width: 768px) {
            justify-content: flex-start;
        }

        @media (max-width: 520px) {
            display: block;
        }

        // .category__article-img

        &-img {
            margin-right: 30px;
            min-width: 433px;
            min-height: 520px;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            @media (max-width: 1024px) {
                min-width: 240px;
                min-height: 280px;
            }

            @media (max-width: 520px) {
                min-width: 100%;
                min-height: 278px;
                max-height: 278px;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        // .category__article-info

        &-info {
            h2 {
                min-width: 390px;
                width: 100%;
                margin-bottom: 30px;

                @media (max-width: 520px) {
                    min-width: unset;
                    margin-bottom: 10px;

                    text-align: center;

                    br {
                        display: none;
                    }
                }
            }

            @media (max-width: 520px) {
                a {
                    margin-inline: auto;
                }
            }
        }
    }

    // .category__articl

    &__articl {
        // .category__articl-info

        &-info {
        }
    }
}
