.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #f4f0ea;

    display: flex;
    align-items: center;
    justify-content: center;

    // .preloader-icon

    &-body {
        text-align: right;
    }

    // .preloader-count

    &-count {
        @include adaptive-value("font-size", 120, 5, 1);
    }

    svg {
        width: 250px;
        fill: #4d3d30;
        transition: all 0.3s ease 0s;
    }
}
